var modal_footer = '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>' +
    '<button id="rmd-unclaim" type="button" class="btn btn-primary">Unclaim</button>' +
    '<button id="rmd-claim" type="button" class="btn btn-warning">Claim</button>' +
    '<button id="rmd-resolve" type="button" class="btn btn-success">Resolve</button>';


$('#report_info').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var modal = $(this);
    modal.find('#modal-footer').html(modal_footer);
    $.getJSON('{{ webroots.panel }}/api/report/details/'+button.data('reportid'),function(data){
        if (window.__dynVars && window.__dynVars.viewOnly === true) {
            modal.find('#rmd-claim,#rmd-unclaim,#rmd-resolve').hide();
        }
        var server = data.reporter.username === null;
        // general
        modal.find('#rmd-g-id').text(data.general.id.toString() + (server ? ' SERVER REPORT' : ''));
        modal.find('#rmd-g-position').html(server ? 'N/A' : data.general.position);
        modal.find('#rmd-g-message').html(data.general.message);
        modal.find('#rmd-g-time').text(data.general.time);
        modal.find('#rmd-g-claimed').text(data.general.claimed);

        //reporter
        if (server) {
            modal.find('#rmd-a-username').closest('.col-md-4').hide();
        } else {
            modal.find('#rmd-a-username').closest('.col-md-4').show();
            modal.find('#rmd-a-username').html('<a href="/userinfo/' + data.reporter.username + '" target="_blank">' + data.reporter.username + '</a>');
            modal.find('#rmd-a-login').text(data.reporter.login);
            modal.find('#rmd-a-signup').text(data.reporter.signup);
            modal.find('#rmd-a-role').text(data.reporter.role);
            modal.find('#rmd-a-pixel').text(data.reporter.pixelcount);
            modal.find('#rmd-a-ban').html(data.reporter.ban.expiry + " (" + data.reporter.ban.reason + ")");
        }

        //reported
        modal.find('#rmd-b-username').html('<a href="/userinfo/' + data.reported.username + '" target="_blank">' + data.reported.username + '</a>');
        modal.find('#rmd-b-login').text(data.reported.login);
        modal.find('#rmd-b-signup').text(data.reported.signup);
        modal.find('#rmd-b-role').text(data.reported.role);
        modal.find('#rmd-b-pixel').text(data.reported.pixelcount);
        modal.find('#rmd-b-ban').html(data.reported.ban.expiry + " (" + data.reported.ban.reason + ")");

        let cannotOverwrite = (data.self.role != "ADMIN" && data.self.role != "DEVELOPER") && !data.general.claimed_by_you;
        modal.find('#rmd-claim').data('reportid',data.general.id);
        modal.find('#rmd-unclaim').data('reportid',data.general.id)[0].disabled=cannotOverwrite;
        modal.find('#rmd-resolve').data('reportid',data.general.id)[0].disabled=cannotOverwrite;

        modal.find('#rmd-claim').click(function(){
            $.ajax({
                url: "{{ webroots.panel }}/api/report/claim/" + $(this).data('reportid')
            }).done(function() {
                alert("Report claimed!");
                setTimeout(function(){modal.modal("hide");reloadReports();}, 500);
            });
        });
        modal.find('#rmd-unclaim').click(function(){
            var lmao = $("#modal-footer").clone();
            $.ajax({
                url: "{{ webroots.panel }}/api/report/unclaim/" + $(this).data('reportid')
            }).done(function() {
                alert("Report unclaimed!");
                setTimeout(function(){modal.modal("hide");reloadReports();}, 500);
            });
        });
        modal.find('#rmd-resolve').click(function(){
            var lmao = $("#modal-footer").clone();
            $.ajax({
                url: "{{ webroots.panel }}/api/report/resolve/" + $(this).data('reportid')
            }).done(function() {
                alert("Report was closed and marked as resolved!");
                setTimeout(function(){modal.modal("hide");reloadReports();}, 500);
            });
        });

        if(data.general.claimed == "no one") {
            modal.find('#rmd-unclaim').hide();
            modal.find('#rmd-resolve').hide();
        } else if(data.general.claimed == "{{ userdata.username }}") {
            modal.find('#rmd-claim').hide();
        } else {
            modal.find('#rmd-claim').hide();
            modal.find('#rmd-unclaim').hide();
            modal.find('#rmd-resolve').hide();
        }
    });
});
$('#chat_report_modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var modal = $(this);

    modal.find('#rmd-g-message').show();
    modal.find('#modal-footer').html(modal_footer);

    $.getJSON('{{ webroots.panel }}/api/report/chatDetails/'+button.data('reportId'),function(data){
        if (window.__dynVars && window.__dynVars.viewOnly === true) {
            modal.find('#rmd-claim,#rmd-unclaim,#rmd-resolve').hide();
        }
        {#var server = data.reporter.username === null;#}
        modal.find('#rmd-g-id').text(data.report.id);

        //details
        modal.find('#crm-details-reporter').text(data.reporter.username);
        modal.find('#crm-details-reported').text(data.reported.username);
        modal.find('#crm-details-sent').text(moment.unix(data.report.time).format('MM.DD.YYYY HH:mm:ss'));
        modal.find('#crm-details-reason').text(data.report.report_message);
        modal.find('#crm-details-chat-line').text(data.report.content);
        if (data.report.claimed_by_name) {
            modal.find('#crm-details-claimed-by-wrapper').show();
            modal.find('#crm-details-claimed-by').text(data.report.claimed_by_name);
        } else {
            modal.find('#crm-details-claimed-by-wrapper').hide();
        }

        //reporter
        modal.find('#crm-reporter-id').text(data.reporter.id);
        modal.find('#crm-reporter-role').text(data.reporter.role);
        modal.find('#crm-reporter-banned').text(data.reporter.banned >> 0 ? "Yes" : "No");
        modal.find('#crm-reporter-chat-banned').text(data.reporter.chatbanned >> 0 ? "Yes" : "No");

        //reported
        modal.find('#crm-reported-id').text(data.reported.id);
        modal.find('#crm-reported-role').text(data.reported.role);
        modal.find('#crm-reported-banned').text(data.reported.banned >> 0 ? "Yes" : "No");
        modal.find('#crm-reported-chat-banned').text(data.reported.chatbanned >> 0 ? "Yes" : "No");

        //context
        modal.find('#chat-context').empty();
        for (let i = 0; i < data.context.length; i++) {
            let x = data.context[i];
            let time = `[${moment.unix(x.sent >> 0).format('MM.DD.YYYY HH:mm:ss')}] `;
            let content = document.createElement('span'); //jQuery parses strings into HTML so have to use basic dom generation
            content.textContent = x.content;
            modal.find('#chat-context').append(
                $("<li>")
                    .append(time)
                    .append($("<strong>").text(x.author_name + ': '))
                    .append(content)
                    .css(x.nonce === data.report.chat_message ? {'backgroundColor': 'rgba(255,245,9,0.3)'} : {})
            )
        }
        modal.find('#rmd-g-message').hide();

        //modal actions
        let cannotOverwrite = (data.self.role != "ADMIN" && data.self.role != "DEVELOPER") && !data.report.claimed_by_you;
        let claimButton = modal.find('#rmd-claim').show()[0];
        let unclaimButton = modal.find('#rmd-unclaim').show()[0];
        let resolveButton = modal.find('#rmd-resolve').show()[0];

        claimButton.dataset['reportId'] =  data.report.id;

        unclaimButton.dataset['reportId'] = data.report.id;
        unclaimButton.disabled = cannotOverwrite;

        resolveButton.dataset['reportId'] = data.report.id;
        resolveButton.disabled = cannotOverwrite;

        $(claimButton).click(function(){
            $.ajax({
                url: "{{ webroots.panel }}/api/report/chatClaim/" + claimButton.dataset['reportId']
            }).done(function() {
                alert("Report claimed!");
                setTimeout(function(){modal.modal("hide");reloadReports();}, 500);
            });
        });
        $(unclaimButton).click(function(){
            $.ajax({
                url: "{{ webroots.panel }}/api/report/chatUnclaim/" + unclaimButton.dataset['reportId']
            }).done(function() {
                alert("Report unclaimed!");
                setTimeout(function(){modal.modal("hide");reloadReports();}, 500);
            });
        });
        $(resolveButton).click(function(){
            $.ajax({
                url: "{{ webroots.panel }}/api/report/chatResolve/" + resolveButton.dataset['reportId']
            }).done(function() {
                alert("Report was closed and marked as resolved!");
                setTimeout(function(){modal.modal("hide");reloadReports();}, 500);
            });
        });

        if(data.report.claimed_by == "{{ userdata.id }}") {
            modal.find('#rmd-claim').hide();
            modal.find('#rmd-unclaim').show();
        } else if(data.report.claimed_by >> 0 > 0 && cannotOverwrite) {
            modal.find('#rmd-claim').hide();
            modal.find('#rmd-unclaim').hide();
            modal.find('#rmd-resolve').hide();
        } else {
            modal.find('#rmd-claim').show();
            modal.find('#rmd-unclaim').hide();
            modal.find('#rmd-resolve').hide();
        }
    });
});
