{% extends "master.html.twig" %}

{% set title = 'Dashboard' %}

{% block content %}
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ stats.total_pixels }}</h3>

                    <p>Pixels placed</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-checkbox-outline-blank"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-teal">
                <div class="inner">
                    <h3>{{ stats.total_pixels_hour }}</h3>

                    <p>Pixels placed (in the last hour)</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-checkbox"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ stats.total_users }}</h3>

                    <p>Registered Users</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-stalker"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ stats.total_sessions }}</h3>

                    <p>Active Sessions</p>
                </div>
                <div class="icon">
                    <i class="ion ion-earth"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3>{{ stats.spu_ratio }}</h3>

                    <p>Sessions-per-User Ratio</p>
                </div>
                <div class="icon">
                    <i class="ion ion-close"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-light-blue">
                <div class="inner">
                    <h3>{{ stats.ppu_ratio }}</h3>

                    <p>Pixels-per-User Ratio</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-xs-12 text-center">
            <input type="checkbox" id="autoreload"> <label id="autoreload_label" for="autoreload">Auto-Reload Tables?</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Canvas Reports</h3>
                </div>
                <div class="box-body">
                    <table id="reports" class="table table-responsive table-bordered table-striped nowrap" width="100%">
                        <thead>
                        <tr>
                            <th>id#</th>
                            <th>Reporter</th>
                            <th>Position</th>
                            <th>Time</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>id#</th>
                            <th>Reporter</th>
                            <th>Position</th>
                            <th>Time</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Chat Reports</h3>
                </div>
                <div class="box-body">
                    <table id="chatReports" class="table table-responsive table-bordered table-striped nowrap" width="100%">
                        <thead>
                        <tr>
                            <th>id#</th>
                            <th>Reporter</th>
                            <th>Reported</th>
                            <th>Time</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>id#</th>
                            <th>Reporter</th>
                            <th>Reported</th>
                            <th>Time</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                        <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Last 100 Signups</h3>
                </div>
                <div class="box-body">
                    <table id="signups" class="table table-responsive table-bordered table-striped nowrap" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Signup Time</th>
                                <th>Login</th>
                                <th>Signup IP</th>
                                <th>Last IP</th>
                                <th>Pixel Count (this canvas)</th>
                                <th>Banned?</th>
                                <th>Ban Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Signup Time</th>
                                <th>Login</th>
                                <th>Signup IP</th>
                                <th>Pixel Count (this canvas)</th>
                                <th>Last IP</th>
                                <th>Banned?</th>
                                <th>Ban Reason</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Last Actions</h3>
                </div>
                <div class="box-body">
                    <table id="actionlog" class="table table-responsive table-bordered table-striped nowrap" width="100%">
                        <thead>
                        <tr>
                            <th>id#</th>
                            <th>channel</th>
                            <th>level</th>
                            <th>message</th>
                            <th>time</th>
                            <th>user</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>id#</th>
                            <th>channel</th>
                            <th>level</th>
                            <th>message</th>
                            <th>time</th>
                            <th>user</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{#    {% include "home/activity.html.twig" %}#}

    {% include "home/reportmodal.html.twig" %}
{% endblock content %}

{% block js %}
    {{ parent() }}
    <script src="{{ base_url() }}/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/chartjs/Chart.min.js"></script>
    <script type="text/javascript">
        {% include "ban.js.twig" %}
        $(function() {
            var actionLog = $("#actionlog").DataTable({
                "ajax": {
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": '{{ webroots.panel }}/api/private/activitylog'
                },
                "columns": [
                    { "data": "id" },
                    { "data": "channel" },
                    { "data": "level" },
                    { "data": "message" },
                    { "data": "time" },
                    { "data": "username" }
                ],
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "order": [[ 0, "desc" ]],
                "info": true,
                "autoWidth": false,
                "scrollX": true
            });

            var lastSignups = $("#signups").DataTable({
                "ajax": {
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": '{{ xhr_base }}/api/private/lastSignups'
                },
                "columns": [
                    { "data": "id" },
                    { "data": "username" },
                    { "data": "signup_time" },
                    { "data": "login" },
                    {
                        "data": "signup_ip",
                        render: data => `<a href="{{ path_for('search') }}?q=${data}&type=ip">${data}</a>`
                    },
                    {
                        "data": "last_ip",
                        render: data => `<a href="{{ path_for('search') }}?q=${data}&type=ip">${data}</a>`
                    },
                    { "data" : "pixel_count" },
                    {
                        "data": "banned",
                        "render": function(data, type, row) {
                            return data == true ? "Yes" : "No";
                        }
                    },
                    { "data": "ban_reason" }
                ],
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "order": [[ 0, "desc" ]],
                "info": true,
                "autoWidth": false,
                "scrollX": true
            });

            reloadReports();

            function reloadReports() {
                $.get("{{ xhr_base }}/api/report/reload?_=" + (new Date() >> 0), function(data) {
                    _reloadCanvasReports(data.data.canvasReports);
                    _reloadChatReports(data.data.chatReports);
                });
            }

            function _reloadCanvasReports(data) {
                if ($.fn.DataTable.isDataTable('#chatReports')) {
                    let dt = $('#reports').DataTable();
                    const curPage = dt.page();
                    dt.clear();
                    dt.rows.add(data);
                    dt.draw();
                    dt.page(curPage).draw(false);
                } else {
                    $("#reports").DataTable({
                        data: data,
                        "columns": [
                            {
                                "data": "id",
                                "render": function(data, type, row) {
                                    return `<a href="#" data-toggle="modal" data-reportid="${data}" data-target="#report_info">${data}</a>`;
                                }
                            },
                            { "data": "who_url" },
                            { "data": "position_url" },
                            { "data": "human_time" },
                            { "data": "action" }
                        ],
                        "paging": true,
                        "lengthChange": false,
                        "searching": true,
                        "ordering": true,
                        "order": [[ 0, "desc" ]],
                        "info": true,
                        "autoWidth": false,
                        "scrollX": true
                    });
                }
            }
            function _reloadChatReports(data) {
                if ($.fn.DataTable.isDataTable('#chatReports')) {
                    let dt = $('#chatReports').DataTable();
                    const curPage = dt.page();
                    dt.clear();
                    dt.rows.add(data);
                    dt.draw();
                    dt.page(curPage).draw(false);
                } else {
                    $("#chatReports").DataTable({
                        data: data,
                        "columns": [
                            {
                                "data": "id",
                                "render": function(data, type, row) {
                                    return `<a href="#" data-toggle='modal' data-reportid='${row.id}' data-message-id='${row.cmid}' data-target='#chat_report_modal'>${data}</a>`;
                                }
                            },
                            {
                                "data": "initiator_name",
                                "render": data => `<a href="/userinfo/${data}">${data}</a>`
                            },
                            {
                                "data": "target_name",
                                "render": data => `<a href="/userinfo/${data}">${data}</a>`
                            },
                            {
                                "data": "time",
                                render: (data, type, row) => {
                                    return moment.unix(data >> 0).format('MM.DD.YYYY - HH:mm:ss');
                                }
                            },
                            {
                                "data": "nonce",
                                "render": (data, type, row) => {
                                    if (row.claimed_by >> 0 > 0) {
                                        if (row.claimed_by == "{{ userdata.id }}") {
                                            return `<button type='button' class='btn btn-success btn-xs' data-toggle='modal' data-reportid='${row.id}' data-message-id='${row.cmid}' data-target='#chat_report_modal'>View</button>`;
                                        } else {
                                            return `<button type='button' class='btn btn-default btn-xs' data-toggle='modal' data-reportid='${row.id}' data-message-id='${row.cmid}' data-target='#chat_report_modal' disabled>Claimed by ${row.claimed_name}</button>`;
                                        }
                                    } else {
                                        return `<button type='button' class='btn btn-warning btn-xs' data-toggle='modal' data-reportid='${row.id}' data-message-id='${row.cmid}' data-target='#chat_report_modal'>View</button>`;
                                    }
                                }
                            }
                        ],
                        "paging": true,
                        "lengthChange": false,
                        "searching": true,
                        "ordering": true,
                        "order": [[ 0, 'desc' ]],
                        "info": true,
                        "autoWidth": false,
                        "scrollX": true
                    });
                }
            }

            var intervalListener = null;

            $('#autoreload').change(function(){
                if($('#autoreload').prop('checked')) {
                    intervalListener = self.setInterval(function () {reloadReports(); lastSignups.ajax.reload(null, false)}, 5e3);
                    $("#autoreload_label").html("Okay! Now reloading the tables every 5 seconds! Uncheck to stop!");
                } else {
                    window.clearInterval(intervalListener);
                    $("#autoreload_label").html("Auto-Reload Tables?");
                }
            });

            {% include "home/reports.js.twig" %}

{#            {% include "home/activity.js.twig" %}#}
        });
        //placed outside of onload so that we're scoped correctly for onclick handlers
        function discordLookup(id) {
            console.info(id);
        }
    </script>
{% endblock %}
