{% extends "master.html.twig" %}

{% set title = 'Report List' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Reports <span id="loading">(Loading... This will take a sec or 60)</span></h3>
                </div>
                <div class="box-body">
                    <table id="tblReports" class="table table-responsive table-bordered table-striped nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Reporter</th>
                                <th>Reported</th>
                                <th>Time</th>
                                <th>Location</th>
                                <th>Claimed By</th>
                                <th>Resolved</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include "home/reportmodal.html.twig" %}
{% endblock content %}

{% block js %}
    {{ parent() }}
    <script src="{{ base_url() }}/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datatables/extensions/Scroller/js/dataTables.scroller.js"></script>
    <script type="text/javascript">
        {% include "ban.js.twig" %}
        {% include "home/reports.js.twig" %}
        window.__dynVars = Object.assign(window.__dynVars || {}, {viewOnly: true});
        var reportList = $("#tblReports").on("init.dt", () => {
            $("#loading").fadeOut(200);
        }).DataTable({
            "ajax": {
                "dataType": "json",
                "contentType": "application/json; charset=utf-8",
                "type": "GET",
                "url": "{{ xhr_base }}/api/report/reload?all",
                "dataSrc": "data.canvasReports"
            },
            "columns": [
                {data: "id"},
                {data: "who_url"},
                {data: "reported_url"},
                {data: "human_time"},
                {data: "position_url"},
                {
                    data: "claimed_name",
                    render: data => data ? data : 'N/A'
                },
                {
                    data: "closed",
                    render: data => data ? 'Yes' : 'No'
                },
                {
                    data: "id",
                    render: (data, type, row) => {
                        return `<button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-reportid="${data}" data-target="#report_info">View</button>`
                    }
                },
            ],
            "paging": true,
            "searching": true,
            "ordering": true,
            "order": [[ 0, "desc" ]],
            "info": true,
            "autoWidth": false,
            "scrollX": true
        });
    </script>
{% endblock %}