{% extends "master.html.twig" %}

{% set title = 'Search' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/plugins/datatables/dataTables.bootstrap.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Search Results</h3>
                </div>
                <div class="box-body table-responsive">
                    <table id="searchresults" class="table table-responsive table-bordered table-striped" width="100%">
                        <thead>
                            <tr>
                                <th>id#</th>
                                <th>Username</th>
                                <th>Login</th>
                                <th>Signup Time</th>
                                <th>Cooldown Expiry</th>
                                <th>Roles</th>
                                <th>Canvas Ban</th>
                                <th>Chat Ban</th>
                                <th>Signup IP</th>
                                <th>Last IP</th>
                                <th>Pixel Counts</th>
                                <th>Reason</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for user in result %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>
                                        <a href="{{ base_url() }}{{ path_for('profile', {'identifier': user.username}) }}">
                                            {{ user.username }}
                                        </a>
                                    </td>
                                    <td><a href="{{ user.login_url|raw }}">{{ user.login }}</a></td>
                                    <td>{{ user.signup_time }}</td>
                                    <td>{{ user.cooldown_expiry }}</td>
                                    <td>{{ user.roles|join(' ') }}</td>
                                    <td>
                                        {% if user.banned %}
                                            {% if user.is_shadow_banned %}
                                                Shadow banned
                                            {% else %}
                                                {% if user.is_ban_permanent %}
                                                    Permanent
                                                {% else %}
                                                    Expires <span>{{ user.ban_expiry|date("M, d Y H:i:s") }}</span>
                                                {% endif %}
                                            {% endif %}
                                            <br/>
                                            Reason: <span>{{ user.ban_reason }}</span>
                                        {% else %}
                                            Not Banned
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if user.chat_banned %}
                                            {% if user.perma_chat_banned %}
                                                Permanent
                                            {% else %}
                                                Expires <span>{{ user.chat_ban_expiry|date("M, d Y H:i:s") }}</span>
                                            {% endif %}
                                            <br/>
                                            Reason: <span>{{ user.chat_ban_reason }}</span>
                                        {% else %}
                                            Not Banned
                                        {% endif %}
                                    </td>
                                    <td><a href="{{ base_url() }}{{ path_for('search') }}?q={{ user.signup_ip }}&type=ip">{{ user.signup_ip }}</a></td>
                                    <td><a href="{{ base_url() }}{{ path_for('search') }}?q={{ user.last_ip }}&type=ip">{{ user.last_ip }}</a></td>
                                    <td>{{ user.pixel_count }}/{{ user.pixel_count_alltime }}</td>
                                    <td>
                                        {% for reason in user.reason %}
                                            {{ reason }}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Action
                                                <span class="fa fa-caret-down"></span></button>
                                            <ul class="dropdown-menu">
                                                <li><span class="action" data-username="{{ user.username }}" data-action="tempban" onclick="handleSearchAction('tempban', '{{ user.username }}', this)">Tempban</span></li>
                                                <li><span class="action" data-username="{{ user.username }}" data-action="permaban" onclick="handleSearchAction('permaban', '{{ user.username }}', this)">Permaban</span></li>
                                                {% if (userdata.role == "ADMIN" or userdata.role == "DEVELOPER") %}
                                                    <li><span class="action" data-username="{{ user.username }}" data-action="shadowban" onclick="handleSearchAction('shadowban', '{{ user.username }}', this)">Shadowban</span></li>
                                                {% endif %}
                                                {% if (user.ban_expiry|date() > date() or user.role == "BANNED" or user.role == "SHADOWBANNED") %}
                                                    <li class="divider"></li>
                                                    <li><span class="action" data-username="{{ user.username }}" data-action="unban" onclick="handleSearchAction('unban', '{{ user.username }}', this)">Unban</span></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                        <tfoot>
                            <tr>
                                <th>id#</th>
                                <th>Username</th>
                                <th>Login</th>
                                <th>Signup Time</th>
                                <th>Cooldown Expiry</th>
                                <th>Role</th>
                                <th>Ban Expiry</th>
                                <th>Ban Reason</th>
                                <th>Last IP</th>
                                <th>Signup IP</th>
                                <th>Pixel Count</th>
                                <th>Reason</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ parent() }}
    <script src="{{ base_url() }}/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="{{ base_url() }}/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $("#searchresults").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
        {% include "ban.js.twig" %}
    </script>
{% endblock %}
